#center-details, #placement-details {
    height: auto;
    max-height: 280px;
    overflow-y: scroll;
}
.select2-selection {
    @apply rounded-md border border-gray-300 shadow-sm px-3 py-2 text-sm text-gray-800 focus:ring-blue-500 focus:border-blue-500;
    height: auto !important;
    min-height: 2.5rem;
    padding: 0 !important;
}

.select2-selection__rendered {
    line-height: 2rem !important;
    /* padding-left: 0 !important; */
}

.select2-selection__arrow {
    height: 100% !important;
    top: 0 !important;
    right: 0.5rem;
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #3b82f6 !important;
    color: white;
}

.select2-dropdown {
    @apply rounded-md shadow-md border border-gray-300;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #000;
    font-size: 15px;
}

.select2-container--default .select2-selection--single {
    border: 2px solid #9ca3af !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    margin-top: 2px;
    color: red;
    font-size: 20px;
}
